@import url(//fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,500);

body {
  font-family: 'Roboto';
  font-size: 2em;
  margin: 0 15%;
  font-weight: 100;
}

h1 {
  font-size: 3em;
  text-align: center;
}

select, input {
  vertical-align: middle;
  margin-bottom: 4px;
}

select {
  margin-right: -5px;
}

@media (max-width: 650px) {
  body {
    font-size: 1.5em;
  }
  h1 { font-size: 2.25; }
}
