@import url('//fonts.googleapis.com/css?family=Raleway:100,400,700|Playfair+Display:700italic');

body {
  font-family: 'Raleway', 'Roboto', Helvetica; 
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
}

.container {
  margin: 0 20%;
}

#coffeeIs {
  font-family: 'Playfair Display';
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-size: 3em;
  color: rgba(0, 0, 0, .75);
  line-height: 1;
  font-weight: 100;
  text-align: center;
}

select, input {
  vertical-align: middle;
  margin-bottom: 4px;
}

select {
  margin-right: -2px;
}

@media (max-width: 650px) {
  body {
    font-size: 1.5em;
    margin: 0 1%;
  }
  h1 { font-size: 2em; }
}

input {
  border-radius: 6px;
  font-size: 0.75em;
  padding: 3px;
  vertical-align: middle;
  border: none;
  font-weight: 700;
  width: 65px;
  margin-right: -10px;
}

input:focus {
  outline: 0;
}

#cups, #caffeine {
  font-weight: 700;
}

.attr {
  display: block;
  margin: 5px auto 10px auto;
  text-align: center;
  font-size: .65em;
  color: rgba(0, 0, 0, .5);
}

.attr a {
  color: rgba(0, 0, 0, .65);
  font-weight: bold;
  transition: .2s all ease-in-out;
}
.attr a:hover {
  color: rgba(0, 0, 0, .85);
}

.disclaimer {
  font-size: .75em;
  text-align: center;
}
