<!DOCTYPE html>
<html ng-app="caffeineForMe" lang="en">
  <head>
    <title>How much coffee?</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="An easy way to calculate your next caffeine fix.">
    <meta name="author" content="Jesse Herrick">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="/js/coffee.js"></script>
    
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <h1 ng-controller="CoffeeController">Coffee is <span id="coffeeIs">{{coffee.is}}</span></h1>

    <div class="container" ng-controller="CaffeineController">
    <p>I have coffee in a
    <select name="size" id="size" ng-model="caffeine.input.cup">
      <option value="5">6oz (Standard Coffee Mug)</option>
      <option value="8">8oz (Short - Starbucks)</option>
      <option value="12">12oz (Tall - Starbucks)</option>
      <option value="16">16oz (Grande - Starbucks)</option>
      <option value="20">20oz (Venti - Starbucks)</option>
    </select>
    size cup, and my weight is about <input id="weight" ng-model="caffeine.input.weight" maxlength="5" onClick="this.select()" type="number" value="175">
    <select name="unit" id="unit" ng-model="caffeine.input.unit">
      <option value="lb">pounds</option>
      <option value="kg">kilograms</option>
    </select>
    .
    </p>

    <p>So I should drink about <span id="cups">{{ caffeine.output.cupsNeeded }}</span> <strong>{{ caffeine.output.cupsNeeded == 1 ? "cup" : "cups" }}</strong> of coffee (<strong>{{ caffeine.output.coffeeOz }} oz</strong> of coffee with <span id="caffeine">{{ caffeine.output.neededCaffeine }}</span><strong> mg</strong> of caffeine) to stay awake for the next 6 hours.</p>
    </div>

    <p class="disclaimer">(Your caffeine tolerance may vary.)</p>

    <center><a href="https://twitter.com/share" class="twitter-share-button" data-via="JesseHerrick">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></center>

    <small class="attr">Made and <a
        href="https://github.com/JesseHerrick/caffeinefor.me">open sourced</a> by <a href="https://jesseherrick.io">Jesse Herrick</a>.</small>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
               })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43360200-3', 'auto');
    ga('send', 'pageview');

    </script>
  </body>
</html>
